@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Nunito:wght@400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Hedvig Letters Sans', sans-serif;
}
body{
    background: rgb(22,153,180);
    background: linear-gradient(90deg, rgba(22,153,180,1) 0%, rgba(28,93,126,1) 38%, rgba(33,29,105,1) 100%);   
}


.error{
    color:red;
    font-size: small;
   
}


.navbar .navbar-toggler[aria-expanded="true"] {
    color: rgb(188, 185, 185)!important;
    }
    .navbar .navbar-toggler:focus{
    color: rgb(188, 185, 185);
    }
.nav-link ,.navbar-brand:hover,.navbar-brand{
    color:white;
}

.nav-link{
    border-bottom:solid transparent;
}
.nav-link:hover{
    color:white;
    border-bottom: solid rgb(255, 166, 0);
}
.btn-primary:hover {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}
.message-cell{
    max-height:100px;
    min-width:150px;
    max-width: 350px;
    overflow: hidden;
}
.dateofbirth-cell{
    min-width:80px;
}
.name-cell{
    min-width:150px;
}

/* /*Attendance styles */

.attendance-name-cell{
    min-width:250px;
}
.in-time,.out-time,.date-cell{
    min-width:100px;
    max-width: 200px;
}
.action-cell{
    text-align: center;
    min-width: 130px;
}
.total-hours{
    min-width: 80px;
}

/* home styles */

.home-message:hover{
    transform: translatey(-10px);

    transition: transform 0.5s;
}
.home-message{
    transform: translatey(0px);

    transition: transform 0.5s;
}
legend+p,.footer-nav{
    font-size: small;
}