*{
    padding:0;
    margin:0;
}
.sub-nav,.nested-sub-nav{
    display:none;
}
ul{
    list-style: none;
}
.navigation-bar{
    padding:20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(184, 180, 180);
}
.navigation-bar li{
    padding:5px;
    border-bottom: solid 2px transparent;
}
.navigation-bar li:hover{
    border-color:blue ;
}
li:hover .sub-nav{
   margin-top: 5px;
    display: flex;
    position: absolute;
    padding:20px;
    background-color:rgb(184, 180, 180) ;
}
.sub-nav ul{
    padding:5px 20px;
}
.sub-nav p{
    font-weight: bold;
    padding:3px;
    font-size: large;
}
.sub-nav li{
    margin-left: 20px;
}
.sub-nav  li:hover .nested-sub-nav{
    display: inline;
    position:absolute;
    margin-left: 10px;
    border:solid 0.5px grey;
    background-color:rgb(184, 180, 180) ;
    width:max-content;
}


/* image slideshow */
.image-slideshow {
    width:auto;
    padding:20px;
}
.slide-images{
  width: 100%;
  height: 60vh;
}

.products{
    border: solid 1px rgb(83, 82, 82);
    margin:0px 5px;
    height: 50vh;
    display: flex;
    overflow-x: auto;
   
}
.products div{
    padding:5px 10px;
    width:fit-content;
    text-align: center;
}
.products p{
    margin-top:1vh;
}
.products img{
    border-radius: 2px;
   
    width:17vw;
}